// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *  Copyright (C) 2026 Tim Michals
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "QMTECH z20 board";
	compatible = "qmtech,zynq-qmtech", "xlnx,zynq-qmtech", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
		reset-gpios = <&gpio0 46 GPIO_ACTIVE_LOW>;
		drv-vbus;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&sdhci0 {
	bootph-all;
	status = "okay";
};

&uart0 {
	bootph-all;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	phy_type = "ulpi";
	usb-phy = <&usb_phy0>;
	disable-over-current;
	usb-role-switch;
};

&amba {
	abstractx_fpga: fpga-fabric@40000000 {
		compatible = "generic-uio";
		reg = <0x40000000 0x10000>;
		interrupt-parent = <&intc>;
		interrupts = <0 29 4>; /* IRQ_F2P[0] */
		status = "okay";
	};
};
